* {
    box-sizing: border-box;
    overflow: none;
    /* white-space: normal; */
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
    width: 100%;

}

header h1 {
    text-align: left;
    background-color: #856c1b;
    color: #000000;
    font-size: 48px;
    padding: 4px 24px 12px 12px;
}

nav {
    display: flex;
    background-color: #857c62;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav a {
    text-align: left;
    margin-left: 12px;
}

a {
    color: #ffffff;
    text-decoration: none;
}



.my-picture-section {
    padding-left: 8px;
}

.developer-picture {
    background-position: center;
    background-size: cover;
    position: relative;
    height: auto;
    margin-top: 12px;
    margin-bottom: 4px;
    width: 30%;
    border: 4px solid black;
    border-radius: 4px;
}

.content {
    display: flex;
    display: inline-block;
    flex-direction: column;
    padding: 8px;
    width: 75%;
}

.about-me {
    /* overflow: wrap; */
    background-color: #856c1b;
    box-shadow: 8px 8px #857c62;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 24px;
    height: 420px;
    border-radius: 4px;
}

.about-me h2 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
}

/* .about-me p{
    overflow: wrap;
} */

.contact-info {
    background-color: #856c1b;
    box-shadow: 8px 8px #857c62;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 24px;
    height: 420px;
    border-radius: 4px;
}

.contact-info h2 {
    display: block;
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
    
}

p {
    text-align: justify;
    font-size: 17px;
}

/* ANIMATION FOR HOVERING OVER EMAIL */
/* ANIMATION FOR HOVERING OVER EMAIL */
/* ANIMATION FOR HOVERING OVER EMAIL */
.make-email-big-hover {
    transition: all .2s ease-in-out; 
}

.make-email-big-hover:hover { 
    font-size: 24px;
    /* transform: 26px;  */
    transform: scale(1.5); 
}
/* ANIMATION FOR HOVERING OVER EMAIL */
/* ANIMATION FOR HOVERING OVER EMAIL */
/* ANIMATION FOR HOVERING OVER EMAIL */

.my-work {
    display: flex;
    flex-direction: column;
    float: right;
    height: auto;
    width: 25%;
    padding: 8px 8px 8px 8px;
}

.work {
    display: flex;
    display: inline-block;
    background-color: #856c1b;
    color: #ffffff;
    margin-bottom: 32px;
    border-radius: 4px;

}

.work h2 {
    align-content: center;
    font-size: 36px;
    padding: 24px 24px 24px 24px;
}

.work img {
    display: block;
    text-align: center;
    margin: 12px auto;
    max-width: 148px;
}

/* ACCEPTANCE CRITERIA */
/* ANIMATION FOR HOVERING OVER REPO */
/* ANIMATION FOR HOVERING OVER REPO */
/* ANIMATION FOR HOVERING OVER REPO */
.make-me-big {
    transition: all .2s ease-in-out; 
}
.make-me-big:hover { 
    transform: scale(1.5); 
}
/* ANIMATION FOR HOVERING OVER REPO */
/* ANIMATION FOR HOVERING OVER REPO */
/* ANIMATION FOR HOVERING OVER REPO */

div {
    padding: 4px;
}

.work h3 {
    text-align: center;
    margin-bottom: 8px;
}

footer {
    background-color: #857c62;

}

footer {
    text-align: center;
    clear: both;
    padding: 36px;
    font-size: 20px;
    color: #000000;
}

footer p {
    text-align: center;
}

/* I WOULD REALLY LIKE TO ROTATE THE D SO ITS BACKWARD.  SO THE D AND K CAN BE BACK TO BACK */

/* footer span {
    transform: rotate(180deg);
} */


                                                /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
/* END OF NORMAL CSS */
                 /* END OF NORMAL CSS */
                                 /* END OF NORMAL CSS */
                                                 /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
/* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                                                 /* END OF NORMAL CSS */
                                                /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
/* END OF NORMAL CSS */
                 /* END OF NORMAL CSS */
                                 /* END OF NORMAL CSS */
                                                 /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
/* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                                                 /* END OF NORMAL CSS */
                                                /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
/* END OF NORMAL CSS */
                 /* END OF NORMAL CSS */
                                 /* END OF NORMAL CSS */
                                                 /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
/* END OF NORMAL CSS */
                /* END OF NORMAL CSS */
                                /* END OF NORMAL CSS */
                                                 /* END OF NORMAL CSS */





             
/* ACCEPTANCE CRITERIA */
/* AS THE WEBPAGE GETS SMALLER h2 CHANGES AS WELL: BEGIN */
/* AS THE WEBPAGE GETS SMALLER h2 CHANGES AS WELL: BEGIN */
/* AS THE WEBPAGE GETS SMALLER h2 CHANGES AS WELL: BEGIN */
@media screen and (max-width: 1180px){
 
    .my-work h2 {
        transition: color 0.5s ease;
        color: #912525;
    }
}

@media screen and (max-width: 957px){
 
    .my-work h2 {
        font-size: 28px;
        transition: 0.5s ease;
    }
}

@media screen and (max-width: 954px){
 
    .my-work h2 {
        transition: color 0.5s ease;
        color: #3b3a3a;
    }
}

@media screen and (max-width: 804px){
 
    .my-work h2 {
        transition: 0.5s ease;
        font-size: 24px;
    }
}

@media screen and (max-width: 396px){

    .about-me p {
        transition: 0.5s ease;
        font-size: 8px;
    }
}

/* AS THE WEBPAGE GETS SMALLER h2 CHANGES AS WELL: END */
/* AS THE WEBPAGE GETS SMALLER h2 CHANGES AS WELL: END */
/* AS THE WEBPAGE GETS SMALLER h2 CHANGES AS WELL: END */


/* ACCEPTANCE CRITERIA */
/* MOBILE FRIENDLY SECTION: START*/ 
/* MOBILE FRIENDLY SECTION: START*/ 
/* MOBILE FRIENDLY SECTION: START*/ 
@media screen and (max-width: 768px){
    
    header h1 {
        transition: background-color 0.5s ease;
        background: #772014;
        transition: color 0.5s ease;
        color: #ffffff;
        padding: 4px 24px 12px 12px;

    }

    header nav {
        flex-direction: column;
    }


    .my-picture-section {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        padding-left: 0px;
        width: 100%;
        /* transition: all 250ms ease; */
        /* transform: translateX(50%, 0%) */

    }

    .developer-picture {
        margin-top: 0px;
        margin-bottom: 0px;
        /* transition: all 250ms ease; */
        /* transform: translateX(50%, 0%) */
    }

    .my-work {
        padding-left: 0px;
    }

    .my-work h2 {
        transition: background-color 0.5s ease;
        transition: color 0.5s ease;
        color: #ffffff;
        padding-left: 0px;
    }

    .content {
        transition: background-color 0.5s ease;
        background: #772014;
        width: 100%;
        padding: 12px 0px 16px 0px;
    }

    .contact-info {
        background-color: #857c62;
        transition: background-color 0.5s ease;
        box-shadow: none;
    }
    
    .about-me {
        background-color: #857c62;
        transition: background-color 0.5s ease;
        box-shadow: none;
        margin-top: 12px;
        
    }

    .about-me p {
        font-size: 15px;
    }

    .my-work {
        flex-wrap: wrap;
        width: 100%;
    }

    .my-work {
        background-color: #772014;
        padding: 0px 8px 0px 8px;
    }

    .work {
        background-color: #857c62;
        transition: background-color 0.5s ease;
        padding: 24px;  
    }

    .work h2 {
        margin-left: 0px;
        font-size: 36px;
        padding: 8px 0px 8px 0px;
    }

    .work img {
        max-width: 100px;
    }

    footer {
        transition: background-color 0.5s ease;
        background: #772014;
        padding: 0px 0px 28px 0px;
    }

}
/* MOBILE FRIENDLY SECTION: END*/ 
/* MOBILE FRIENDLY SECTION: END*/ 
/* MOBILE FRIENDLY SECTION: END*/ 

/* ACCEPTANCE CRITERIA */
/* AS ITS BEING EXPANDED AGAIN THERE ARE THESE TRANSITIONS: START */
/* AS ITS BEING EXPANDED AGAIN THERE ARE THESE TRANSITIONS: START */
/* AS ITS BEING EXPANDED AGAIN THERE ARE THESE TRANSITIONS: START */
@media screen and (min-width: 805px){
 
    .my-work h2 {
        transition: 0.5s ease;
    }
}

@media screen and (min-width: 769px){

    header h1 {
        transition: background-color 0.5s ease;
    }

    .content {
        transition: background-color 0.5s ease;
    }

    .about-me {
        transition: background-color 0.5s ease;
    }
    
    .contact-info {
        transition: background-color 0.5s ease;
    }

    .my-work {
        transition: background-color 0.5s ease;
    }
    
    footer {
        transition: background-color 0.5s ease;
    }   
}
/* AS ITS BEING EXPANDED AGAIN THERE ARE THESE TRANSITIONS: END */
/* AS ITS BEING EXPANDED AGAIN THERE ARE THESE TRANSITIONS: END */
/* AS ITS BEING EXPANDED AGAIN THERE ARE THESE TRANSITIONS: END */